<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org" 
      layout:decorator="template">
    <head>
        <title>sante-soft</title>

        <!-- DataTables -->
        <link th:href="@{/plugins/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet" type="text/css" />
        <link th:href="@{/plugins/datatables/buttons.bootstrap4.min.css}" rel="stylesheet" type="text/css" />
        <!-- Responsive datatable examples -->
        <link th:href="@{/plugins/datatables/responsive.bootstrap4.min.css}" rel="stylesheet" type="text/css" /> 
        <style type="text/css">
            .side-menu.left {

                /*display: none;*/
            }
            .footer {
                /*                border-top: 1px solid rgba(0, 0, 0, 0.1);
                                bottom: 0px;
                                color: #58666e;
                                text-align: left !important;
                                padding: 20px 30px;
                                position: absolute;
                                right: 0px;
                                left: 0;
                                font-size: 13px;*/
            }
            .content-page {
                /*margin-left: 0 !important;*/
            }
        </style>
    </head> 
    <body>
        <div layout:fragment="content" class="">
            <div class="row" ng-controller="utilisateursControllerV2">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="mt-0 header-title">Filtres</h4>


                            <form method="POST" class="form-horizontal well">
                                <fieldset>
                                    <div class="repeater-default">
                                        <div data-repeater-list="car">
                                            <div data-repeater-item="">
                                                <div class="form-group row d-flex align-items-end">

                                                    <div class="col-sm-4">
                                                        <label class="control-label">Make</label>
                                                        <select name="car[0][make]" class="form-control">
                                                            <option value="volkswagon" selected="">Volkswagon</option>
                                                            <option value="honda">Honda</option>
                                                            <option value="ford">Ford</option>
                                                        </select>
                                                    </div><!--end col-->

                                                    <div class="col-sm-4">
                                                        <label class="control-label">Model</label>
                                                        <input type="text" name="car[0][model]" value="Beetle" class="form-control">
                                                    </div><!--end col-->

                                                    <div class="col-sm-3">
                                                        <div class="custom-control custom-checkbox custom-control-inline">
                                                            <input type="checkbox" class="custom-control-input" id="customCheck1" name="car[0][features][]" value="ac">
                                                                <label class="custom-control-label" for="customCheck1">Air Conditioning</label>
                                                        </div>

                                                        <div class="custom-control custom-checkbox custom-control-inline">
                                                            <input type="checkbox" class="custom-control-input" id="customCheck2" name="car[0][features][]" value="abs">
                                                                <label class="custom-control-label" for="customCheck2">Anti-Lock Brakes</label>
                                                        </div>
                                                    </div><!--end col-->

                                                    <div class="col-sm-1">
                                                        <span data-repeater-delete="" class="btn btn-gradient-primary btn-sm">
                                                            <span class="mdi mdi-filter"></span> 
                                                        </span>
                                                    </div><!--end col-->
                                                </div><!--end row-->
                                            </div><!--end /div-->


                                        </div><!--end repet-list-->

                                    </div> <!--end repeter-->                                           
                                </fieldset><!--end fieldset-->
                            </form><!--end form-->
                        </div><!--end card-body-->
                    </div><!--end card-->
                </div>
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">

                            <h4 class="mt-0 header-title">Profils</h4>


                            <div id="child_rows_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                                <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="dataTables_length" id="child_rows_length">
                                            <label>Show <select name="child_rows_length" aria-controls="child_rows" class="custom-select custom-select-sm form-control form-control-sm"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label></div></div><div class="col-sm-12 col-md-6"><div id="child_rows_filter" class="dataTables_filter">
                                            <div class="form-group mb-0 row">
                                                <div class="col-sm-12">
                                                    <span data-repeater-create="" class="btn btn-gradient-secondary">
                                                        <span class="fas fa-plus"></span> 
                                                    </span>

                                                </div><!--end col-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table id="child_rows" class="table table-striped table-bordered dt-responsive nowrap dataTable no-footer dtr-inline" style="border-collapse: collapse; border-spacing: 0px; width: 100%;" role="grid" aria-describedby="child_rows_info">
                                            <thead>
                                                <tr role="row">
                                                    <th class="details-control sorting_disabled" rowspan="1" colspan="1" style="width: 10px;" aria-label=""></th>
                                                    <th class=" " tabindex="0" aria-controls="child_rows" rowspan="1" colspan="1" style="width: 135px;" aria-sort="ascending" aria-label="Name: activate to sort column descending">Name</th>
                                                    <th class="" tabindex="0" aria-controls="child_rows" rowspan="1" colspan="1" style="width: 214px;" aria-label="Position: activate to sort column ascending">Position</th>
                                                    <th class="" tabindex="0" aria-controls="child_rows" rowspan="1" colspan="1" style="width: 124px;" aria-label="Office: activate to sort column ascending">Etat</th>
                                                    <th class="" tabindex="0" aria-controls="child_rows" rowspan="1" colspan="1" style="width: 77px;" aria-label="Salary: activate to sort column ascending">Actions</th></tr>
                                            </thead>
                                            <tbody>

                                                <tr role="row" class="odd">
                                                    <td class=" details-control" tabindex="0"></td>
                                                    <td class="sorting_1">Ashton Cox</td>
                                                    <td>Junior Technical Author</td>
                                                    <td >
                                                        <div class="btn-group mb-4" style="height: 2px;">
                                                            <button type="button" style="height: 30px; " class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Primary <i class="mdi mdi-chevron-down"></i>
                                                            </button>
                                                            <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 3px, 0px);">
                                                                <a class="dropdown-item" href="#">Action</a>
                                                                <a class="dropdown-item" href="#">Another action</a>
                                                                <a class="dropdown-item" href="#">Something else here</a>
                                                                <div class="dropdown-divider"></div>
                                                                <a class="dropdown-item" href="#">Separated link</a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="dropdown d-inline-block float-right">
                                                            <a style="height: 30px; margin-top: -20px;margin-bottom: -200px;" class="nav-link dropdown-toggle arrow-none" id="dLabel4" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                                                <i class="fas fa-ellipsis-v font-20 text-muted"></i>
                                                            </a>
                                                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dLabel4">
                                                                <a class="dropdown-item" href="#">Creat Project</a>
                                                                <a class="dropdown-item" href="#">Open Project</a>
                                                                <a class="dropdown-item" href="#">Tasks Details</a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr role="row" class="even">
                                                    <td class=" details-control" tabindex="0"></td>
                                                    <td class="sorting_1">Garrett Winters</td>
                                                    <td>Accountant</td>
                                                    <td><div class="btn-group mb-4">
                                                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Primary <i class="mdi mdi-chevron-down"></i></button>
                                                            <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
                                                                <a class="dropdown-item" href="#">Action</a>
                                                                <a class="dropdown-item" href="#">Another action</a>
                                                                <a class="dropdown-item" href="#">Something else here</a>
                                                                <div class="dropdown-divider"></div>
                                                                <a class="dropdown-item" href="#">Separated link</a>
                                                            </div>
                                                        </div></td>
                                                    <td><div class="dropdown d-inline-block float-right">
                                                            <a class="nav-link dropdown-toggle arrow-none" id="dLabel4" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                                                <i class="fas fa-ellipsis-v font-20 text-muted"></i>
                                                            </a>
                                                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dLabel4">
                                                                <a class="dropdown-item" href="#">Creat Project</a>
                                                                <a class="dropdown-item" href="#">Open Project</a>
                                                                <a class="dropdown-item" href="#">Tasks Details</a>
                                                            </div>
                                                        </div></td>
                                                </tr><tr role="row" class="odd">
                                                    <td class=" details-control" tabindex="0">
                                                    </td><td class="sorting_1">Tiger Nixon</td>
                                                    <td>System Architect</td>
                                                    <td><div class="btn-group mb-4">
                                                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Primary <i class="mdi mdi-chevron-down"></i></button>
                                                            <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
                                                                <a class="dropdown-item" href="#">Action</a>
                                                                <a class="dropdown-item" href="#">Another action</a>
                                                                <a class="dropdown-item" href="#">Something else here</a>
                                                                <div class="dropdown-divider"></div>
                                                                <a class="dropdown-item" href="#">Separated link</a>
                                                            </div>
                                                        </div></td>
                                                    <td><div class="dropdown d-inline-block float-right">
                                                            <a class="nav-link dropdown-toggle arrow-none" id="dLabel4" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                                                <i class="fas fa-ellipsis-v font-20 text-muted"></i>
                                                            </a>
                                                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dLabel4">
                                                                <a class="dropdown-item" href="#">Creat Project</a>
                                                                <a class="dropdown-item" href="#">Open Project</a>
                                                                <a class="dropdown-item" href="#">Tasks Details</a>
                                                            </div>
                                                        </div></td>
                                                </tr></tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-5">
                                        <div class="dataTables_info" id="child_rows_info" role="status" aria-live="polite">Showing 1 to 3 of 3 entries</div>

                                    </div><div class="col-sm-12 col-md-7">
                                        <div class="dataTables_paginate paging_simple_numbers" id="child_rows_paginate">
                                            <ul class="pagination">
                                                <li class="paginate_button page-item previous disabled" id="child_rows_previous">
                                                    <a href="#" aria-controls="child_rows" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
                                                </li>
                                                <li class="paginate_button page-item active">
                                                    <a href="#" aria-controls="child_rows" data-dt-idx="1" tabindex="0" class="page-link">1</a>
                                                </li><li class="paginate_button page-item next disabled" id="child_rows_next">
                                                    <a href="#" aria-controls="child_rows" data-dt-idx="2" tabindex="0" class="page-link">Next</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>        
                        </div>
                    </div>
                </div> <!-- end col -->
            </div>

        </div>
        <script th:src="@{/js/controllers/utilisateursControllerV2.js}"></script>
        <!-- jQuery  -->
        <script th:src="@{/assets/js/jquery.min.js}"></script>
        <script th:src="@{/assets/js/jquery-ui.min.js}"></script>
        <script th:src="@{/assets/js/bootstrap.bundle.min.js}"></script>
        <script th:src="@{/assets/js/metismenu.min.js}"></script>
        <script th:src="@{/assets/js/waves.js}"></script>
        <script th:src="@{/assets/js/feather.min.js}"></script>
        <script th:src="@{/assets/js/jquery.slimscroll.min.js}"></script>    

        <!-- Required datatable js -->
        <script th:src="@{/plugins/datatables/jquery.dataTables.min.js}"></script>
        <script th:src="@{/plugins/datatables/dataTables.bootstrap4.min.js}"></script>
        <!-- Buttons examples -->
        <script th:src="@{/plugins/datatables/dataTables.buttons.min.js}"></script>
        <script th:src="@{/plugins/datatables/buttons.bootstrap4.min.js}"></script>
        <script th:src="@{/plugins/datatables/jszip.min.js}"></script>
        <script th:src="@{/plugins/datatables/pdfmake.min.js}"></script>
        <script th:src="@{/plugins/datatables/vfs_fonts.js}"></script>
        <script th:src="@{/plugins/datatables/buttons.html5.min.js}"></script>
        <script th:src="@{/plugins/datatables/buttons.print.min.js}"></script>
        <script th:src="@{/plugins/datatables/buttons.colVis.min.js}"></script>
        <!-- Responsive examples -->
        <script th:src="@{/plugins/datatables/dataTables.responsive.min.js}"></script>
        <script th:src="@{/plugins/datatables/responsive.bootstrap4.min.js}"></script>
        <script th:src="@{/assets/pages/jquery.datatable.init.js}"></script>

        <!-- App js -->
        <script th:src="@{/assets/js/app.js}"></script>
    </body>
    <th:block layout:fragment="scripts">
        <script type="text/javascript">

            $(function () {
                viderLeContainer();
            });
        </script>
    </th:block>
</html>