
<ul class="metismenu left-sidenav-menu" >
    <li>
        <a href="javascript: void(0);" sec:authorize="hasAnyAuthority('FC_USER','FC_GROUPE','FC_PROF')" ><i class="fas fa-user-shield"> </i><span>Habilitations</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
        <ul class="nav-second-level" aria-expanded="false" style="width: 300px;">

            <li class="nav-item"><a class="nav-link" sec:authorize="hasAnyAuthority('FC_USER')" th:href="@{/parametre/utilisateur}"><i class="fas fa-users"></i>Gestion des utilisateurs</a></li>
            <!--<li class="nav-item"><a class="nav-link" sec:authorize="hasAnyAuthority('FC_GROUPE')" href="#"><i class="fas fa-handshake"></i>Gestion des groupes</a></li>-->
            <li class="nav-item"><a class="nav-link" sec:authorize="hasAnyAuthority('FC_PROF')" th:href="@{/parametre/profil}"><i class="fas fa-id-card"></i> Gestion des profils</a></li>

        </ul>
    </li>
    <li>
        <a href="javascript: void(0);" sec:authorize="hasAnyAuthority('FC_PROFESSIONNEL','FC_ETABLISSEMENT')" ><i class="fas fa-user-shield"> </i><span>Administration</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
        <ul class="nav-second-level" aria-expanded="false" style="width: 300px;">

            <li class="nav-item"><a class="nav-link" sec:authorize="hasAnyAuthority('FC_ETABLISSEMENT')" th:href="@{/gestion/etablissement}"><i class="fas fa-home"></i> Etablissements</a></li> 

            <!--<li class="nav-item"><a class="nav-link" sec:authorize="hasAnyAuthority('FC_PROF','FC_ADMIN')" th:href="@{/gestion/patient}"><i clas            <li class="nav-item"> <a class="nav-link" sec:authorize="hasAnyAuthority('FC_ADMIN')" th:href="@{/gestion/professionnel}"><i class="ti-control-record"></i> Professionnels</a></li> 
s="ti-control-record"></i>Gestion des patients</a></li>-->
            <li class="nav-item"> <a class="nav-link" sec:authorize="hasAnyAuthority('FC_PROFESSIONNEL')" th:href="@{/gestion/professionnel}"><i class="fas fa-users"></i> Professionnels</a></li> 
        </ul>
    </li>
      <li>
        <a href="javascript: void(0);" sec:authorize="hasAnyAuthority('FC_TABLEAUBORD')" ><i class="fas fa-user-shield"> </i><span>Visualisation</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
        <ul class="nav-second-level" aria-expanded="false" style="width: 300px;">

            <li class="nav-item"><a class="nav-link" sec:authorize="hasAnyAuthority('FC_TABLEAUBORD')" th:href="@{/tableau-bord}"><i class="fas fa-chart-line"></i> Tableau de bord</a></li> 

        </ul>
    </li>
    <li>
        <a href="javascript: void(0);" sec:authorize="hasAnyAuthority('FC_PATIENT','FC_CONS_LIST')" ><i class="fas fa-user-shield"> </i><span>Accueil</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
        <ul class="nav-second-level" aria-expanded="false" style="width: 300px;">
            
            <li class="nav-item"> <a class="nav-link" sec:authorize="hasAnyAuthority('FC_PATIENT')" th:href="@{/gestion/patient}"><i class="fas fa-users"></i> Patients</a></li> 
            
            <li class="nav-item"> <a class="nav-link" sec:authorize="hasAnyAuthority('FC_CONS_LIST')" th:href="@{/gestion/consultation/liste}"><i class="fas fa-file-medical"></i> Liste des consultations</a></li> 

        </ul>
    </li>
    
    <li>
        <a href="javascript: void(0);" sec:authorize="hasAnyAuthority('FC_INF_PATIENT')" ><i class="fas fa-user-shield"> </i><span>Informations</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
        <ul class="nav-second-level" aria-expanded="false" style="width: 300px;">
            
            <li class="nav-item"> <a class="nav-link" sec:authorize="hasAnyAuthority('FC_INF_PATIENT')" th:href="@{/gestion/information/patient}"><i class="fas fa-users"></i> Mon dossier</a></li> 
            
            <!--<li class="nav-item"> <a class="nav-link" sec:authorize="hasAnyAuthority('FC_CONS_LIST')" th:href="@{/gestion/consultation/liste}"><i class="fas fa-file-medical"></i> Liste des consultations</a></li>--> 

        </ul>
    </li>
    

</ul>
