

<!-- LOGO -->
<div class="topbar-left">
    <a href="" class="logo">
        <span  class="d-flex">
            <img th:src="@{/assets/images/carnetElectronique.png}" alt="logo-large" style="height: 50px; margin-left: 23px; margin-top: 10px" class="logo-sm  rounded"/>
            <p style="color: yellowgreen; margin: 20px 0 0 10px;" class="font-weight-bold font-18"></p>
        </span>
        <span>
            <img th:src="@{/images/logo_new.png}" alt="logo-large" class="logo-lg logo-light">

            <!--<img th:src="@{/images/logo_nom.png}" alt="logo-large" class="logo-lg">-->
        </span>
    </a>
</div>
<!--end logo-->
<!-- Navbar -->
<nav class="navbar-custom">    
    <ul class="list-unstyled topbar-nav float-right mb-0">  
        <li class="dropdown">
            <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-toggle="dropdown" href="#" role="button"
               aria-haspopup="false" aria-expanded="false">
                <img th:src="@{/images/users/user-1.png}" alt="profile-user" class="rounded-circle" /> 
                <span class="ml-1 nav-user-name hidden-sm" ><span class="client-name-t"> </span><i class="mdi mdi-chevron-down"></i></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="#"><i class="ti-user text-muted mr-2"></i> Profile</a>
                <a class="dropdown-item" href="#"><i class="ti-wallet text-muted mr-2"></i> My Wallet</a>
                <a class="dropdown-item" href="#"><i class="ti-settings text-muted mr-2"></i> Settings</a>
                <a class="dropdown-item" href="#"><i class="ti-lock text-muted mr-2"></i> Lock screen</a>
                <div class="dropdown-divider mb-0"></div>
                <a class="dropdown-item" th:href="@{/logout}"><i class="ti-power-off text-muted mr-2"></i> Logout</a>
            </div>
        </li>
    </ul><!--end topbar-nav-->
    <ul class="list-unstyled topbar-nav mb-0">                        
        <li>
            <button class="nav-link button-menu-mobile waves-effect waves-light">
                <i class="ti-menu nav-icon"></i>
            </button>
        </li>


    </ul>
    <ul class="list-unstyled topbar-nav  mb-0">  
        <li class="dropdown">
            <!--<a class="nav-link dropdown-toggle waves-effect waves-light nav-user" sec:authorize="hasAnyAuthority('FC_USER','FC_GROUPE','FC_PROF')"  data-toggle="dropdown" href="#" role="button"-->
            <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" sec:authorize="hasAnyAuthority('FC_USER','FC_GROUPE','FC_PROF')"  data-toggle="dropdown" href="#" role="button"
               aria-haspopup="false" aria-expanded="false">                                                
                <span class="ml-1 nav-user-name hidden-sm"> <i class="fas fa-user-shield"> Habilitations</i><i class="mdi mdi-chevron-down"></i> </span>
            </a>
            <div class="dropdown-menu dropdown-menu-right">

                <a class="dropdown-item" sec:authorize="hasAnyAuthority('FC_USER')" th:href="@{/parametre/utilisateur}"><i class="fas fa-user"></i> Utilisateurs</a>
                <a class="dropdown-item" sec:authorize="hasAnyAuthority('FC_GROUPE')" href="#"><i class="fas fa-users"></i> Groupes</a>
                <a class="dropdown-item" sec:authorize="hasAnyAuthority('FC_PROF')" th:href="@{/parametre/profil}"><i class="fas fa-user-lock"></i> Profils</a>
            </div>
        </li>
        <li class="dropdown">
            <!--<a class="nav-link dropdown-toggle waves-effect waves-light nav-user" sec:authorize="hasAnyAuthority('FC_USER','FC_GROUPE','FC_PROF')"  data-toggle="dropdown" href="#" role="button"-->
            <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" sec:authorize="hasAnyAuthority('FC_PROF','FC_ADMIN')"  data-toggle="dropdown" href="#" role="button"
               aria-haspopup="false" aria-expanded="false">                                                
                <span class="ml-1 nav-user-name hidden-sm"> <i class="fas fa-user-shield"> Admistration</i><i class="mdi mdi-chevron-down"></i> </span>
            </a>
            <div class="dropdown-menu dropdown-menu-right">

                <a class="dropdown-item" sec:authorize="hasAnyAuthority('FC_ADMIN')" th:href="@{/gestion/etablissement}"><i class="fas fa-user"></i> Etablissements</a>
                <a class="dropdown-item" sec:authorize="hasAnyAuthority('FC_PROF','FC_ADMIN')" th:href="@{/gestion/patient}"><i class="fas fa-users"></i> Patients</a>
                <a class="dropdown-item" sec:authorize="hasAnyAuthority('FC_ADMIN')" th:href="@{/parametre/professionels}"><i class="fas fa-user-lock"></i> Professionels</a>
            </div>
        </li>
        
         <li class="dropdown">
            <!--<a class="nav-link dropdown-toggle waves-effect waves-light nav-user" sec:authorize="hasAnyAuthority('FC_USER','FC_GROUPE','FC_PROF')"  data-toggle="dropdown" href="#" role="button"-->
            <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" sec:authorize="hasAnyAuthority('FC_PROF','FC_ADMIN')"  data-toggle="dropdown" href="#" role="button"
               aria-haspopup="false" aria-expanded="false">                                                
                <span class="ml-1 nav-user-name hidden-sm"> <i class="fas fa-user-shield"> Accueil</i><i class="mdi mdi-chevron-down"></i> </span>
            </a>
            <div class="dropdown-menu dropdown-menu-right">

                <a class="dropdown-item" sec:authorize="hasAnyAuthority('FC_PROF','FC_ADMIN')" th:href="@{/gestion/patient}"><i class="fas fa-users"></i> Patients</a>
            </div>
        </li>
        
        
    </ul>

</nav>
<!-- end navbar-->

