<!--    <div class="modal-dialog" style="width:100%;">-->
<div  class="modal fade compose-modal" id="detail-utilisateur" tabindex="-1" role="dialog" aria-hidden="true" style="max-height: 100%; margin: 50px 10px 50px -90px;">
    <div class="modal-dialog "  >
        <div class="modal-content" style="width:200%; height: 20%;">
            <div class="modal-header">
                <h5 class="modal-title mt-0" id="exampleModalLabel">{{titleModale}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <!--<div class="card">-->
                        <!--<div class="card-body">-->        
                        <div class="form-group row d-flex align-items-end">
                            <div class="col-md-2" style="margin-right: 40px; margin-left: 300px;">
                                <!--src=@{/api/picture/viewFile/user/{{idPhoto}}}--> 
                                <img width="100%" class="img img-circle"  th:attr="src=@{/img/profil.png/}"/>
                            </div>
                            <div class="col-md-5" style="padding: 20px 25px;
                                 background: #fafafa;
                                 border-radius: 5px;
                                 margin-top: 35px;">
                                <label class="control-label" style="font-size: 15px;" >Nom d'utilisateur : </label> 
                                <b><label class="control-label" style="font-size: 20px;" ng-bind="objetUtilisateur.username"/></b><br/>
                                <label class="control-label" style="font-size: 15px;" >Nom : </label>
                                <b><label class="control-label" style="font-size: 20px;" ng-bind="objetUtilisateur.firstName"/></b><br/> 
                                <label class="control-label" style="font-size: 15px;" >Prénoms : </label>
                                <b><label class="control-label" style="font-size: 20px;" ng-bind="objetUtilisateur.lastName"/></b><br/>



                            </div>
                        </div>

                        <!--<div class="row">-->
                        <div class="form-group row d-flex align-items-end">
                            <div class="col-sm-6">
                                <label class="control-label">Nom d'utilisateur</label>

                                <input class="form-control" ng-model="objetUtilisateur.username"  />

                            </div> 
                            <div class="col-sm-6">
                                <label class="control-label">Titre</label>

                                <input class="form-control" ng-model="objetUtilisateur.titre"  />

                            </div> 

                            <div class="col-sm-6">
                                <label class="control-label">Nom</label>

                                <input class="form-control" ng-model="objetUtilisateur.firstName"  />

                            </div> 
                            <div class="col-sm-6">
                                <label class="control-label">Mot de passe</label>
                                <input class="form-control" type="password" ng-model="objetUtilisateur.password" />
                                <!--<input class="form-control" type="email" value="bootstrap@example.com" id="example-email-input">-->

                            </div> 
                            <div class="col-sm-6">
                                <label class="control-label">Prénoms</label>

                                <input class="form-control" ng-model="objetUtilisateur.lastName"  />

                            </div> 
                            <div class="col-sm-6">
                                <label class="control-label">Confirmation de mot de passe</label>
                                <input class="form-control" type="password" ng-model="objetUtilisateur.confirmPassword" />
                                <!--<input class="form-control" type="email" value="bootstrap@example.com" id="example-email-input">-->

                            </div> 
                            <div class="col-sm-6">
                                <label class="control-label">Email</label>

                                <input class="form-control" ng-model="objetUtilisateur.email"  />

                            </div> 
                            <div class="col-sm-6">
                                <!--<div class="col-sm-12 form-group">-->
                                        <label class="control-label">Statut</label>
                                    <div class="" >

                                        <button type="button" style=" height: 30px; margin-right: 10px;text-align: center; background-color: {{objetUtilisateur.etatObject.codeCouleur}}; color: {{u.etatObject.codeCouleurText}};" class="btn btn-primary "><span data-ng-bind="objetUtilisateur.libelleEtat" ></span>
                                        </button>

                                        <select ng-if=" objetUtilisateur.listActions.length > 1"  ng-change="changerEtats(actionUtilisateur.idActionPermise, objetUtilisateur)"  class=" custom-select-sm form-control " ng-model="actionUtilisateur"
                                                data-ng-options="action.libelleAction for action in objetUtilisateur.listActions" id="actionProfil">

                                        </select>

                                        <button type="button" ng-if=" objetUtilisateur.listActions.length === 1" style=" height: 30px; margin-right: 10px;text-align: center;background-color: {{objetUtilisateur.listActions[0].codeCouleur}}; color:{{opp.actionObject.codeCouleurText}};" class="btn btn-primary " ng-click="changerEtats(objetUtilisateur.listActions[0].idActionPermise, objetUtilisateur)"><span data-ng-bind="objetUtilisateur.listActions[0].libelleAction" ></span><i ></i>
                                        </button>

                                    </div>
                                <!--</div>--> 

                            </div>
                            <div class="col-sm-6">
                                <label class="control-label">Profil(s)</label>

                                <multiple-autocomplete  ng-model="objetUtilisateur.profils"
                                                        object-property="intitule"
                                                        suggestions-arr="listeDesProfils"
                                                        ng-readonly="modeDetail() === true" >

                                </multiple-autocomplete>

                            </div>
                            <div class="col-sm-6">
                                <label class="control-label">Groupe(s)</label>

                                <multiple-autocomplete id="classifdiv" class="nicescroll" ng-model="objetUtilisateur.groupes"
                                                       object-property="libelle"
                                                       suggestions-arr="listeDesProfils" 
                                                       ng-readonly="modeDetail() === true">
                                </multiple-autocomplete>

                            </div>


                        </div>


                        <div class="form-group row d-flex align-items-end">
                            <!--                            <div class="col-sm-6" style="margin-left: 500px;">
                                                            ng-if="displaySaveU()"
                                                            <span name="add"  class="btn btn-primary" style="margin-left: 20px;"
                            
                                                                  ng-click="saveUtilisateur(objetUtilisateur)" >Ajouter
                                                            </span>
                                                            <span name="add"  class="btn btn-primary" style="margin-left: 20px;"
                                                                  ng-click="saveUtilisateur(objetUtilisateur)" >Modifier
                                                            </span>
                                                            <span  class="btn btn-primary" style="margin-left: 20px;"  ng-click="saveUtilisateurEtContinuer(objetUtilisateur)" >
                                                                Ajouter et continuer
                                                            </span>
                                                            <span   class="btn btn-primary" style="margin-left: 20px;"  ng-click="closeModalAddUser()" >
                                                                <i class="fas fa-sign-out-alt"></i>
                                                            </span>
                            
                                                        </div> -->

                        </div>
                        <!--</div>-->                                                                      
                        <!--</div>end card-body-->
                        <!--</div>end card-->
                    </div><!--end col-->
                </div><!--end row-->
            </div>
            <div class="modal-footer">
                <div class="col-sm-6" style="margin-left: 500px;">
                    <!--ng-if="displaySaveU()"-->
                    <span name="add"  class="btn btn-primary" style="margin-left: 20px;"

                          ng-if="modeEdition === 0" ng-click="saveUtilisateur(objetUtilisateur)" >Ajouter
                    </span>
                    <span name="add" ng-if="modeEdition === 3" class="btn btn-primary" style="margin-left: 20px;"
                          ng-click="saveUtilisateur(objetUtilisateur)" >Modifier
                    </span>
                    <span ng-if="modeEdition === 0" class="btn btn-primary" style="margin-left: 20px;"  ng-click="saveUtilisateurEtContinuer(objetUtilisateur)" >
                        Ajouter et continuer
                    </span>
                    <span   class="btn btn-primary" style="margin-left: 20px;"  ng-click="closeModalAddUser()" >
                        <i class="fas fa-sign-out-alt"></i>
                    </span>

                </div> 
            </div>
        </div>
    </div>
</div>
